body {
    color: #000;
    text-align: center;
    font-family: arial, sans-serif;
}

#question_form,
#question_form input {
    font-size: 2rem;
}

.question_text {
    font-size: 2rem;
    font-family: serif;
    font-style: italic;
    margin: 2rem 0 0 0;
}


input {
    padding: 0.8rem;
}

#question_title {
    font-size: 20px;
    font-family: "arial black", arial, sans-serif;
}

#answer_title {
    font-size: 24rem;
    font-family: "arial black", arial, sans-serif;
    font-weight: bold;
    margin: 0;
}

.all-questions {
    font-family: monospace;
    font-size: 11px;
    margin: 10px;
    padding: 0;
    text-align: left;
}