<!doctype html>
<html>
<head>
    <title>Is the answer yes?</title>
    <link type="text/css" rel="stylesheet" href="/static/css/theme.css" />
</head>
<body>
    <h1>{{ text }}</h1>
    <h2>{% if status %} YES {% else %} NO {% endif %}</h2>
    
    <p>Your question has been created.</p>
    <p>Public link: <a href="/{{ id }}">Public link</a></p>
    <p>Secret edit link: <a href="/{{ id }}/{{ secret }}">Secret edit link</a></p>

    <form action="/update/{{id}}" method="POST" name="question" id="question_form">
        <input type="hidden" value="{{ secret }}" name="secret" />
        
        <fieldset>
            <legend>Edit question</legend>
            <p>
                <label for="question_text">Question text</label>
                <input type="text" name="question_text" id="question_text" value="{{text}}" />
            </p>
            <p>
                <label for="status">Is the answer yes?</label>
                <input type="checkbox" name="status" {% if status %} checked {% endif %} />
            </p>
            <p>
                <input type="submit" id="question_submit" value="Update" />
            </p>
        </fieldset>
    </form>
</body>
</html>
